@page "/"
@using HotelsCommons.Models
@using HotelsWebApp.AuthServices
@inject IHttpClientFactory HttpClientFactory
@inject AuthService AuthService
<PageTitle>Home</PageTitle>


<br />


<h1 class="fw-bold">Hotel – Comfort Everywhere You Go</h1>
<br />

<h2 class="fw-bold ms-3">Global Presence</h2>

<h4 class="ms-5">
    We have hotels in locations all around the world,<br>
    making it easy to find a comfortable place to stay wherever you travel.
</h4>


<h2 class="fw-bold ms-3">Simple & Comfortable Rooms</h2>

<h4 class="ms-5">
    Our rooms are designed to be clean, well-equipped,<br>
    and perfect for a restful stay—whether you're traveling for business or leisure.
</h4>

<h2 class="fw-bold ms-3">Reliable & Affordable</h2>

<h4 class="ms-5">
    We offer a hassle-free experience with great service at an affordable price,<br>
    ensuring comfort without complications.
</h4>

<div class="row">
    <div class="col-10"></div>
    <div class="col-2 link-primary">More hotels</div>
</div>

@if (Hotels == null)
{
    <p>Indlæser...</p>
}
else
{
    <div class="row">
        @foreach (var hotel in Hotels)
        {
            <div class="Hotels">
                <h3>@hotel.Name</h3>
                <p>@hotel.Country</p>
                <p>@hotel.City</p>
                <p>@hotel.PostalCode</p>
                <p>@hotel.Region</p>
                <p>@hotel.Description</p>

            </div>
        }
    </div>
}

@code {
  
    private List<HotelDTO> Hotels = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Hotels = await AuthService.GetAllHotels(); 
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching hotels: {ex.Message}");
        }
    }
}


