@page "/Hotel"


@foreach (var hotel in Hotels)
{    
    <div class="card-body  rounded-2">
        <center>               
            <h5 class="card-title h1 fw-bold">@hotel.Name</h5>
        </center>

        <br />

        <div class="row justify-content-end">
            <div class="col-auto">  

                <p class=""><strong>Country:</strong> @hotel.Country</p>
                <p class=""><strong>Region:</strong> @hotel.Region</p>
                <p class=""><strong>City:</strong> @hotel.City</p>
                <p class=""><strong>Description:</strong> @hotel.Description</p>

            </div>
        </div>          
    </div>

    <br />

    <center>
        <h3 class="card-title h1 fw-bold">Choose your room</h3>
    </center>

    <br />

    <div class="row g-3 justify-content-center">
        <div class="col-md-6 col-lg-6 d-flex justify-content-center">

            <form>
                <input class="rounded-2" type="date" name="CheckIn" value="" placeholder="Check in" />
                <input class="rounded-3" type="date" name="CheckOut" value="" placeholder="Check out" />
                <div>

                    <br />

                    <center>
                        <button type="submit" class="btn btn-primary ">Search</button>
                    </center>

                </div>
            </form>

        </div>
    </div>

    <br />

    <div class="container mt-6 d-flex justify-content-center">
        <div class="row g-3 justify-content-center">
            @foreach (var room in Rooms)
            {
                <div class="col-md-4 col-lg-4 d-flex justify-content-center">
                    <div class="card text-dark bg-light mb-3 shadow-sm" style="width: 100%;">
                        <div class="card-body rounded-2 d-flex flex-column">
                            <img src="@room.image" alt="Room Image" class="card-img-top" style="width:100%; height:auto;">
                            <div class="d-flex justify-content-between align-items-center mt-auto">
                                <p class="card-text mt-4"><strong>Price:</strong> @room.DailyPrice</p>
                                <button class="btn btn-primary">Book</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


}

@code {
    public class Test
    {
        public string Name = "Hotel";
        public string Description = "Hotel i landet";
        public string Country = "Denmark";
        public string Region = "Syddanmark";
        public string City = "Kolding";
        public string PostalCode = "3300";
    }
    public class RoomTest
    {
        public float DailyPrice = 200;
        public string image = "https://images.trvl-media.com/lodging/3000000/2260000/2256600/2256592/d987aba7.jpg?impolicy=fcrop&w=357&h=201&p=1&q=medium";
    }
    private List<Test> Hotels = new List<Test>();

    private List<RoomTest> Rooms = new List<RoomTest>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
           
            {
                Hotels.Add(new Test
                    {
                        Name = $"Test Hotel",
                        Description = $"Description for hotel",
                        Country = "Denmark",
                        Region = "Syddanmark",
                        City = "Kolding",
                        PostalCode = $"6600"
                    });
                    for (int i = 1; i <= 10; i++)
                Rooms.Add(new RoomTest
                    {
                        DailyPrice = 200,
                            image = "https://images.trvl-media.com/lodging/3000000/2260000/2256600/2256592/d987aba7.jpg?impolicy=fcrop&w=357&h=201&p=1&q=medium"
                    });
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching hotels: {ex.Message}");
        }
    }
}
